/*imported google font(s) */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
 /* browser defaults */
 margin: 0;
 padding: 0;
 font-family: "Adamina", serif;
 font-style: normal;
 /* color codes */
 --bg-primary: #0097f5;
 --bg-secondary: #0030AB;
 --font-color-primary: #030f16;
 --font-color-secondary: #22153a;
 --logo-color:#6dcdeb;
 --page-tabs-color: #5728B5;

 
}

/* main styling for body */
body {
    height: 100hv;
    background-color: var(--bg-primary);
   
}

/* header and navigation */
.navigation {
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
background: var(--font-color-primary);
}

/* header */
.navigation h1{
color: var(--logo-color);
font-family: "Permanent Marker", cursive;
font-weight: 500;
}

/* navigation positioning */
.navigation nav ul{
    display: flex;

}

/* navigation list */
.navigation ul li {
    list-style-type: none;
}

/* page tabs */
.navigation ul li a{
    text-decoration: none;
    color:var(--page-tabs-color); 
    font-size:18px;
    justify-content: space-between;
    margin-right: 20px;
    transition: color 0.6 ease-in-out;
}


/* the user hovers over the tabs and the text color changes from violet to red */
.navigation ul li:hover a{
   color: #B52C2C; 
}

/* "contact me" button */
.contact-me-btn{
    color: var(--bg-primary);
    background: var(--logo-color);
    font-family: "Poppins", serif; 
    font-size: 16px;
    height: 50px;
    width: 150px;
    padding: 5px 15px;
    border-width: 5px;
    border-color: var(--bg-primary);
    transition: color 0,6 ease;
}

/* the user hovers over the button and it changes color while the pointer is on it */
.contact-me-btn:hover{
    color:var(--font-color-secondary);
    background-color: var(--page-tabs-color);
    border-color: var(--font-color-secondary);
}
 
/* about me body */
 .about-me {
  margin-top: 100px;
  display:flex;
 }

 /* left side elements */
 .about-me .left-side{
    display:flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
 }  

 /* personality quote */
 .about-me .left-side #quote{
   font-size: 17px;
   font-family:'Times New Roman', Times, serif; 
 }

 .about-me .right-side{
  font-size: 17px;
  justify-content: space-between;
  margin-left: 50px;
 }
 
 .about-me .right-side h2{
margin-bottom: 20px;
    
 }



