/*imported google font(s) */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
 /* browser defaults */
 margin: 0;
 padding: 0;
 font-family: "Adamina", serif;
 font-style: normal;
 /* color codes */
 --bg-primary: #359ad8;
 --bg-secondary: #052985;
 --font-color-primary: #030f16;
 --font-color-secondary: #22153a;
 --logo-color:#6dcdeb;
 --page-tabs-color: #5728B5;
 --footer-background: #1975CB;
}

/* main styling for body */
body {
    height: 100px;
    background-color: var(--bg-primary);
}

/* header and navigation */
.navigation {
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
background: var(--font-color-primary);
}

/* header */
.navigation h1{
color: var(--logo-color);
font-family: "Permanent Marker", cursive;
font-weight: 500;
}

/* navigation positioning */
.navigation nav ul{
    display: flex;
}

/* navigation list */
.navigation ul li {
    list-style-type: none;
}

/* page tabs */
.navigation ul li a{
    text-decoration: none;
    color:var(--page-tabs-color); 
    font-size:18px;
    justify-content: space-between;
    margin-right: 20px;
    transition: color 0.6s ease-in-out;
}


/* the user hovers over the tabs and the text color changes from violet to red */
.navigation ul li:hover a{
   color: #891515; 
}

/* "contact me" button */
.contact-me-btn{
    color: var(--footer-background);
    background: var(--logo-color);
    font-family: "Poppins", serif; 
    font-size: 16px;
    height: 50px;
    width: 150px;
    padding: 5px 15px;
    border-width: 5px;
    border-color: var(--bg-primary);
    transition: color 0.6s ease;
}

/* the user hovers over the button and it changes color while the pointer is on it */
.contact-me-btn:hover{
    color:var(--font-color-secondary);
    background-color: var(--page-tabs-color);
    border-color: var(--font-color-secondary);
}
 
/* about me body */
 .about-me {
  margin-top: 75px;
  display:flex;
 }

 /* left side elements */
 .about-me .left-side{
    display:flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
 }  

 /* personality quote */
 .about-me .left-side #quote{
   font-size: 17px;
   font-family:'Times New Roman', Times, serif; 
   margin-bottom: 20px;
 }
 
 /*right side elements */
 .about-me .right-side{
  justify-content: space-between;
  margin-left: 50px;
  margin-top: 40px;
 }
 
 /*about me header */
 .about-me .right-side h2{
 margin-bottom: 20px;
 }

 /*about me paragraph */
 .about-me .right-side #about-me-p{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
 }

 /* progress bar */
 .about-me .right-side #credit-count{
 margin-top: 80px;
 accent-color:var(--font-color-primary);
 transition: color 0.3s ease-out;
 }

 /* event where user hovers over the progress bar with cursor */
 .about-me .right-side #credit-count:hover{
  accent-color: #e9d32d;
 }

 /* progress bar label */
  label {
    font-size: 15px;
 }

 /* footer section */
 .footer {
    background-color: var(--footer-background);
    height: 200px;
 }

/* footer social links */
 .footer .links h3{
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
    
 }
 
 /* social links list */
 .footer .links ul{
   text-align: center;
    margin-bottom: 20px;
    gap: 20px;
 }

 .footer .links ul li{
   list-style-type: none;
 }
   
 /*social links */
 .footer .links ul li a{
    text-decoration: none;
    transition: color 0.3s ease;
    color: var(--font-color-primary);
 }
 
 /* event where the link is a different color to indicate that the user has clicked on it previously */
 .footer .links ul li a:visited{
    color:#ffff;
 }
 
 /* copyright information */
 .footer .copyright-info{
    margin-top: 50px;
    text-align:center;
 }

 /* resume page heading */
 .resume-heading {
   text-align: center;
   margin-top: 20px;
 }

 /* resume page header */
 .resume-heading h3{
   font-size: 15px;
 }

 /* content top half of page */
 .top{
   display: flex;
   margin-top: 30px;
   gap: 210px;
   margin-bottom: 60px;
 }
 
 /* objective section */
 .top #objective-section{
  text-align: left;
  margin-left: 60px;
 }

 /* objective section header */
 .top #objective-section h3{
   margin-bottom: 10px;
 }

 /* objective section paragraph */
 .top #objective-section p{
   font-size: 16px;
 }

 /* experience section */
 .top #experience-section {
   margin-bottom: 30px;
   margin-right: 10px;
 }

  /* experience section header */
 .top #experience-section h3{
   margin-bottom: 10px;
 }

  /* experience section sub-header */
 .top #experience-section h4{
   font-size: 15px;
 }

  /* experience section summary */
 .top #experience-section #summary{
   margin-top: 10px;
   font-size: 16px;
 }

 /* bottom half of page content */
 .bottom {
   display: flex;
   margin-top: 30px;
   gap: 94px;
   margin-bottom: 95px;
 } 
 
 /* education section */
 .bottom #education-section{
   margin-left: 60px;
 }
 
 /* education section header */
 .bottom #education-section h3{
  margin-bottom: 10px;
 }

 /* education section table */
 .bottom #education-section table {
  background-color: var(--bg-secondary);
 }

 .bottom #education-section table th, tr{
   color: var(--bg-secondary);
   background: var(--logo-color);
   border-color: var(--bg-secondary);
 }
 
 /* extracurricular section */
 .bottom #extracurricular {
  margin-bottom: 20px;
 }

  /* extracurricular header */
  .bottom #extracurricular h3{
   margin-bottom: 10px;
  }

  /* extracurricular paragraph */
  .bottom #extracurricular p{
    font-size: 16px;
  }

  /* fun facts page heading */
 .facts-heading {
  text-align: center;
  margin-top: 20px;
 }

 /* facts top half of page */
 .top-facts {
  display: flex;
  margin-top:40px;
  margin-bottom: 60px;
  gap: 300px;
 }

 /* favorite book section */
 .top-facts #book {
  text-align: left;
  margin-left: 160px;
 }

/* favorite book header */
 .top-facts #book h3 {
  margin-bottom: 10px;
 }

 /* book cover image */
 .top-facts #book img{
  margin-bottom: 10px;
 }

 /* description */
 .top-facts #book p{
  margin-bottom: 10px;
 }

 /* tv show section */
 .top-facts #tv-show{
  margin-right: 100px ;
 }

 /* tv show section header */
 .top-facts #tv-show h3{
  margin-bottom: 5px;
 }

 /* tv show name */
 .top-facts #tv-show h4{
  font-size: 14px;
  margin-bottom: 5px;
 }

 /* facts bottom half of page */
.bottom-fact {
  margin-bottom: 30px;
}

/* audio track section */
.bottom-fact #audio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* audio section title */
.bottom-fact #audio h3 {
  margin-bottom: 10px;
}

/* audio name */
.bottom-fact #audio h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

/* audio track */
.bottom-fact #audio audio{
  background: var(--bg-secondary);
  margin-bottom: 10px;
}

/* link to download */
.bottom-fact #audio span{
  margin-bottom: 20px;
}
 
@media (max-width: 1100px){

.contact-me-btn {
  margin-right: 20px;
}

.about-me {
  display: flex;
  margin-bottom: 20px;
}

 .about-me .left-side #quote{
   font-size: 17px;
   font-family:'Times New Roman', Times, serif; 
   margin-bottom: 200px;
 }

 br {
  display: none;
 }

}
